<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ConnectionStringPCASales"
            connectionString="Dsn=CData PCASales Source" providerName="System.Data.Odbc" />
        <add name="WindowsFormsApp1.Properties.Settings.ConnectionStringSalesforce"
            connectionString="Dsn=CData Salesforce Source" providerName="System.Data.Odbc" />
        <add name="WindowsFormsApp1.Properties.Settings.ConnectionStringKintone"
            connectionString="Dsn=CData Kintone Source" providerName="System.Data.Odbc" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>